body {
    font-size:100%;
    line-height:1.5;
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
}
h3 {
    display : inline;
    cursor: pointer;
    color: #404040;
    -webkit-user-select: none;
    padding-right: 5px;
}

a {
    text-decoration: none;
}
ul.articles {
    list-style-type: none;

    width:50%;
}
ul.articles > li {
    border: 1px dashed #ccc;
    padding: 10px;
    margin: 5px;
    overflow: hidden;
}
ul.comments {
    list-style-type: none;
}
a.comments {
   /*float:right;*/
}
span.tooltip {
    background-color: lightyellow;
    width: 50%;
    visibility: visible;
    opacity: 0.9;
    display:block;
    position:absolute;
    z-index: 10;
    box-shadow: 1px 1px 2px rgba(55,55,55,.3);
    margin-left: 20px;
    transition: visibility 300ms, opacity 400ms linear;

}
span.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 200ms, opacity 200ms linear;
}
li {
    background-color: white;
    transition: background-color 500ms ease-in-out;
}
li.selected {
    background-color: lemonchiffon;
    transition: background-color 500ms ease-in-out;
}

blockquote {
    /*background: #f9f9f9;*/
    border-left: 5px solid #ccc;
    margin: 7px;
    padding: 0.5em 7px;
    font-style: italic;
    /*quotes: "\201C""\201D""\2018""\2019";*/
}
blockquote:before {
    color: #ccc;
    /*content: open-quote;*/
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}

.expandable {
    transform: scaleY(0);
    transform-origin: 50% 0%;
    transition: transform 300ms ease-in-out;
}
.expandable[aria-expanded="true"] {
    transform: scaleY(1);
}